<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Document</title>
</head>
    <div class="com">
    <a href='@Url.Action("Habitacion", NumSala=1)'><img class="flecha1" src="~/img/flecha.png" alt="flecha"></a>
    <img class="flecha2" src="~/img/flecha.png" alt="flecha">
    <img class="flecha3" src="~/img/flecha Der.png" alt="flecha">
    <img class="flecha4" src="~/img/flecha Der.png" alt="flecha">
    </div>
</html>