<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="creditos">
    <h1>Muchas gracias por jugar</h1>
    <h4>Hecho por Federico Ostrovsky y Pablo Zurbano</h4>
    <p>TP04 - Sala de escape</p>
    <img class="logo" src="~/img/logo.jpg" alt="logo">
    <a href="index"><img class="patras" src="~/img/flechaAtras.png" alt="patras"></a>
</body>
</html>