@{
    ViewData["Title"] = "Habitacion" + 1;
}

<h1>Habitación1 </h1>

<div id="laberinto">
    <div class="fila">
        <div class="celda inicio"></div>
        <div class="celda"></div>
        <div class="pared"></div>
        <div class="celda"></div>
    </div>
    <div class="fila">
        <div class="pared"></div>
        <div class="pared"></div>
        <div class="pared"></div>
        <div class="celda"></div>
    </div>
    <div class="fila">
        <div class="celda"></div>
        <div class="pared"></div>
        <div class="celda"></div>
        <div class="celda"></div>
    </div>
    <div class="fila">
        <div class="celda"></div>
        <div class="pared"></div>
        <div class="celda"></div>
        <div class="celda"></div>
    </div>
</div>

<style>
    #laberinto {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 400px;
        height: 400px;
    }
    
    .fila {
        display: flex;
    }
    
    .celda {
        background-color: white;
        border: 1px solid black;
    }
    
    .pared {
        background-color: black;
        border: 1px solid black;
    }
    
    .inicio {
        background-color: green;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var inicio = document.querySelector('.inicio');
        var celdas = document.querySelectorAll('.celda');
        
        inicio.addEventListener('mousemove', function(event) {
            var x = event.clientX - inicio.offsetLeft;
            var y = event.clientY - inicio.offsetTop;
            
            celdas.forEach(function(celda) {
                if (x < celda.offsetLeft || x > celda.offsetLeft + celda.offsetWidth ||
                    y < celda.offsetTop || y > celda.offsetTop + celda.offsetHeight) {
                    inicio.style.left = '0';
                    inicio.style.top = '0';
                }
            });
        });
    });
</script>