<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="imagenes5">
<body class="hab1">
    <h1>La cancion...</h1>
    <div class="imagenes5">
        <div class="imagen-container">
            <img src="~/img/oz.jpg" alt="imagen">
        </div>
        <div class="imagen-container">
            <img src="~/img/2001.jpg" alt="imagen">
        </div>
        <div class="imagen-container">
            <img src="~/img/mulholland.jpg" alt="imagen">
        </div>
        <div class="imagen-container">
            <img src="~/img/getout.jpg" alt="imagen">
        </div>
        <div class="imagen-container">
            <img src="~/img/z.jpg" alt="imagen">
        </div>
        <div class="imagen-container">
            <img src="~/img/guerra.jpg" alt="imagen">
        </div>
    </div>
    <audio controls>
        <source src="~/audio/inter.mp3" type="audio/mp3">
    </audio>
    <form method="post" action='@Url.Action("ResolverHabitacion", new {sala=1})'>
    <p>
        De que pelicula es esta musica
        <select name="clave">
            <option> mago de oz </option>
            <option> Interestellar </option>
            <option> guerra mundial z</option>
            <option>get out</option>
            <option>mulholland</option>
        </select>
        <input type="submit" value="Submit form">
        <input type="reset" value="reset form">
    </p>
    </form>
    <a href="comenzar"><img class="patras" src="~/img/flechaAtras.png" alt="patras"></a>
</body>
</div>
</html>