<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>usa el cifrado de .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- -....- .-.-.- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- -....- .-.-.- / -..-. / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- -....- .-.-.- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- -....- .-.-.- / -..-. / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- -....- .-.-.- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- -....- .-.-.- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / -..-. / -....- .-.-.- .-.-.- -....- .-.-.- / -..-. / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....- / .-.-.- -....- .-.-.- -....- .-.-.- -....- / -....- .-.-.- .-.-.- .-.-.- .-.-.- -....-</p>
    <p>Una ayuda de tu humilde servidor la palabracifrada alpuqupp y la contraseña es...</p>
    <img src="cuarto.png" alt="imagen" width="100%" height="50%">
    <div id = "clave"><p>
    A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
    ---------------------------------------------------
    A   A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
    B   B C D E F G H I J K L M N O P Q R S T U V W X Y Z A
    C   C D E F G H I J K L M N O P Q R S T U V W X Y Z A B
    D   D E F G H I J K L M N O P Q R S T U V W X Y Z A B C
    E   E F G H I J K L M N O P Q R S T U V W X Y Z A B C D
    F   F G H I J K L M N O P Q R S T U V W X Y Z A B C D E
    G   G H I J K L M N O P Q R S T U V W X Y Z A B C D E F
    H   H I J K L M N O P Q R S T U V W X Y Z A B C D E F G
    I   I J K L M N O P Q R S T U V W X Y Z A B C D E F G H
    J   J K L M N O P Q R S T U V W X Y Z A B C D E F G H I
    K   K L M N O P Q R S T U V W X Y Z A B C D E F G H I J
    L   L M N O P Q R S T U V W X Y Z A B C D E F G H I J K
    M   M N O P Q R S T U V W X Y Z A B C D E F G H I J K L
    N   N O P Q R S T U V W X Y Z A B C D E F G H I J K L M
    O   O P Q R S T U V W X Y Z A B C D E F G H I J K L M N
    P   P Q R S T U V W X Y Z A B C D E F G H I J K L M N O
    Q   Q R S T U V W X Y Z A B C D E F G H I J K L M N O P
    R   R S T U V W X Y Z A B C D E F G H I J K L M N O P Q
    S   S T U V W X Y Z A B C D E F G H I J K L M N O P Q R
    T   T U V W X Y Z A B C D E F G H I J K L M N O P Q R S
    U   U V W X Y Z A B C D E F G H I J K L M N O P Q R S T
    V   V W X Y Z A B C D E F G H I J K L M N O P Q R S T U
    W   W X Y Z A B C D E F G H I J K L M N O P Q R S T U V
    X   X Y Z A B C D E F G H I J K L M N O P Q R S T U V W
    Y   Y Z A B C D E F G H I J K L M N O P Q R S T U V W X
    Z   Z A B C D E F G H I J K L M N O P Q R S T U V W X Y</p>
</div>
    <form action='@Url.Action("Habitacion","Home")'><input type="text"></form>
    <button onclick="alert('Pista 1: Mirá arriva a la izquierda y El texto esta dado veulta')"> Pista 1 </button>.
    <button onclick="alert('Pista 2: tenes que poner en la fila las letras de el codigo y buscar hasta encontrar la letra de la palabra criptada')"> Pista 2 </button>.
</body>
</html>