<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Document</title>
</head>
<body>
    <div class="H1">
        id = "caja" onmouseleave= "evento()"eventos de mouse
        <img class="laberinto" src="~/img/laberinto.png" alt="imagen">
        <img class="gif" src="~/img/animacion.gif" width="68" height="68" border="0" id="imagen1">
        <script>src = "site.js"</script>
        <button onclick="alert('Ayuda 1: Mirá las paredes...')"> Pista 1 </button>.
        <button onclick="alert('Ayuda 2: Mirá las paredes...')"> Pista 2 </button>.
    </div>
</body>
</html>