<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @{
    ViewData["Title"] = "Index";
    }
    <link rel="stylesheet" href="~/css/site.css">
</head>
<div class="index">
    <header class="indexH">
    <img src="~/img/logo.jpg" alt="Logo">
    <h5>TP05- Sala de escape</h5>
    </header>
    <div class="indexD">
    <h1>La Casa Embrujada</h1>
    <p>Nunca podras escapar ..... con vida</p>
    <nav>
        <ul>
            <li><a href="tutorial.cshtml">Acceder al tutorial</a></li>
            <li><a href='@Url.Action("comenzar")'>Empezar el juego</a></li>
            <li><a href="creditos.cshtml">Ir a los creditos</a></li>
        </ul>
    </nav>
    </div>
    <footer class="indexH">
    <h5>Federico Ostrovsky - Pablo Zurbano</h5>
    </footer>
</div>
</html>





