<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @{
    ViewData["Title"] = "Index";
    }
    <link rel="stylesheet" href="~/css/site.css">
</head>
<header class="index">
    <img src="~/img/logo.jpg" alt="Logo">
    <h5 style="clear: both;">TP05- Sala de escape</h5>
</header>
<body class="index">
    <h1>La Casa Embrujada</h1>
    <p>Nunca podras escapar ..... con vida</p>
    <nav>
        <ul>
            <li><a href="tutorial.cshtml">Acceder al tutorial</a></li>
             <li><a href="habitacion1.cshtml">Empezar el juego</a></li>
            <li><a href="creditos.cshtml">Ir a los creditos</a></li>
        </ul>
    </nav>
</body>
<footer class="index">
    <h5>Federico Ostrovsky - Pablo Zurbano</h5>
</footer>
</html>





