<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @{
    ViewData["Title"] = "Index";
    }
    <link style="color: brown" rel="stylesheet" href="~/css/style_Index.css">
</head>
<header>
    <img href="~/img/logo.jpg" alt="Logo">
    <h5 style="color: brown;">TP05- Sala de escape</h1>
</header>
<body>
    <h1>Nombre</h1>
    <p>Slogan</p>
    <nav>
        <ul>
            <li><a href="tutorial.cshtml">Acceder al tutorial</a></li>
             <li><a href="habitacion1.cshtml">Empezar el juego</a></li>
            <li><a href="creditos.cshtml">Ir a los creditos</a></li>
        </ul>
    </nav>
</body>
</html>





