<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="tuto">
    <H1>Casa Embrujada</H1>
    <div>
    <p>Te aventuras dentro de una casa embrujada solo por tu cuenta, cuando estas metido en la exploracion te das cuenta que te quedaste encerrado. La unica manera que encuentras para salir es una puerta la cual necesita de cuatro dijitos para ser abierta. Cada uno de estos estan dentro de cada habitacion en la cual tendras que resolver un asertijo para poder obetenerlo y escapar con vida del lugar. <br> Antes que nada es inportante que sepas que las claves siempre van en mayuscula y que en caso de ser nescesario contaras con 2 pistas para cada habitacion</p>
    </div>
    <a href='@Url.Action("comenzar")'><p>Empezar el juego</p></a>
    <a href="index"><img class="patras" src="~/img/flechaAtras.png" alt="patras"></a>
</body>
</html>