html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0px;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

.patras{
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.rta{
  height: 700px;
  width: auto;
}
.rtas{
  background-color: rgba(78, 75, 75, 0.555);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indexD {
  text-align: center;
  color: brown;
  font-style: none;
  width: 700px;
  height: auto;
  padding-top: 300px;
  padding-left: 600px;
}

.indexH h5{
  color: brown;
  float: left;
}

.indexD li{
  margin-top: 10px;
  margin-right: 10px;
  list-style: none;
  display: inline;
}

.indexD a{
  text-decoration: none;
  color: brown;
}

.indexD a:hover{
  font-size: 30px;
  color: blue;
}

.indexH header{
  width: 30%;
  height: auto;
}

.indexH img{
  height: 200px;
  width: auto;
  float: left;
}

.index {
  background-color: #191919;
  
}

.caja{
  background-color: red;
  margin: 2rem;
  padding: 2rem;
  color: white;
  font-size: 40px;
  text-align: center;
  
}


.com {
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
}

.flecha1{
  position: absolute;
  top: 780px;
  left: 650px;
  height: 100px;
  width: auto;
}
.flecha2{
  position: absolute;
  top: 650px;
  left: 780px;
  height: 80px;
  width: auto;
}
.flecha3{
  position: absolute;
  top: 780px;
  right: 480px;
  height: 100px;
  width: auto;
}
.flecha4{
  position: absolute;
  top: 650px;
  right: 605px;
  height: 80px;
  width: auto;
}

.flecha5 {
  position: absolute;
  bottom: 240px;
  right: 840px;
  height: 100px;
  width: auto;
}

.num1 {
  position: absolute;
  left: 610px;
  top: 180px;
  width: 50px;
  height: auto;
}

.num2 {
  position: absolute;
  left: 780px;
  top: 280px;
  width: 20px;
  height: auto;
}

.num3 {
  position: absolute;
  right: 440px;
  top: 180px;
  width: 70px;
  height: auto;
}

.num4 {
  position: absolute;
  right: 605px;
  top: 290px;
  width: 40px;
  height: auto;
}

.exit {
  position: absolute;
  top: 300px;
  right: 840px;
  width: 75px;
  height: auto;
}

h1{
  color: brown;
  text-align: center;
}

.H2{
  background-color: black;
}
.H2 p{
  color: white;
}
.H2 pre{
  color: white;
}
.H2 .ayuda{
  position: absolute;
  right: 20px;
  top: 350px;
}
.clave{
  position: absolute;
  right: 20px;
  top: 400px;  
}

.H3{
  background-color: black;
}
.H3 .C1{
  right: 200px;
  position: absolute;
  top: 300px;
  height: 350px;
  width: 350px;
}
.H3 .C2{
  right: 600px;
  position: absolute;
  top: 300px;
  height: 350px;
  width: 350px;
}
.H3 .C3{
  right: 1000px;
  position: absolute;
  top: 300px;
  height: 350px;
  width: 350px;
}
.H3 .C4{
  right: 1390px;
  position: absolute;
  top: 300px;
  height: 350px;
  width: 350px;
}
.H3 .azul{
  position: absolute;
  top: 700px;
  right: 1000px;
  height: 200px;
  width: 200px;
}
.H3 .verde{
  position: absolute;
  top: 700px;
  right: 1390px;
  height: 200px;
  width: 200px;
}
.H3 .blanco{
  position: absolute;
  top: 700px;
  right: 200px;
  height: 200px;
  width: 200px;
}
.H3 .rojo{
  position: absolute;
  top: 700px;
  right: 600px;
  height: 200px;
  width: 200px;
}
.H3 form {
  text-align: center;
}

.H4 ol{
  padding: 0;
  display: flex;
}
.H4 ol li{
  margin: 120px;
  text-align: center;
  color: white;
}
.H4 form{
  text-align: center;
  color: white;
}
.H4 button{
  text-align: center;
}
.H4 .pistas{
  position: absolute;
  top: 480px;
  right: 880px;
}
.H4{
  background-color: black;
}

.H5{
  background-color: black;
}
.H5{
  color: white;
}
.H5 .cd{
  position: absolute;
  right: 750px;
  height: 800px;
  width: auto;
}
.H5 .rta1{
  position: absolute;
  bottom: 410px;
  right: 915px;
  height: 30px;
  width: 100px;
}
.H5 .rta2{
  position: absolute;
  bottom: 345px;
  right: 915px;
  height: 30px;
  width: 100px;
}
.H5 .rta3{
  position: absolute;
  bottom: 280px;
  right: 915px;
  height: 30px;
  width: 100px;
}
.H5 .rta4{
  position: absolute;
  bottom: 215px;
  right: 915px;
  height: 30px;
  width: 100px;
}
.H5 .rta5{
  position: absolute;
  bottom: 80px;
  right: 880px;
  height: 30px;
  width: 180px;
}

.victoria{
  background-color: black;
}
.victoria a{
  text-decoration: none;
}
.victoria p{
  text-decoration: none;
  color: brown;
  text-align: center;
}
.victoria h1{
  text-align: center;
}
.victoria h3{
  text-align: center;
  color: brown;
}
.victoria img{
  height: 700px;
  width: auto;
  position: absolute;
  right: 340px;
}

.creditos{
  background-color: #191919;
}
.creditos h4{
  color: brown;
  text-align: center;
}
.creditos .logo{
  height: 600px;
  width: auto;
  position: absolute;
  top: 200px;
  right: 450px;
}
.creditos p{
  color: brown;
}

.tuto p{
  text-align: center;
  color: brown;
}
.tuto a{
  text-align: center;
  color: brown;
}
.tuto{
  background-color: black;
}
.tuto div{
  height: 50px;
}

.imagen-container {
  display: inline-block;
  width: 33.33%; 
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.imagenes5 {
  text-align: center;
}

.imagenes5 .imagen-container img{
  width: 50%;
  height: auto;
}
.hab1{
  background-color: black;
}

.H2 .img1{
  height: 500px;
  width: auto;
  position: absolute;
  bottom: 30px;
  right: 700px;
}