body{
    text-align: center;
    color: brown;
    font-style: none;
}

h5{
    color: brown;
    float: right;
}

li{
    margin-right: 2%;
    margin-top: 2%;
    list-style: none;
    display: inline;
}

a{
    text-decoration: none;
    color: brown;
}

a:hover{
    font-size: 30px;
    color: blue;
}

header{
    width: 30%;
    height: auto;
}

img{
    height: 200px;
    width: auto;
}

*{
    background-color: #191919;
}

